[submodule "datafeeder"]
	path = datafeeder
	url = https://github.com/ignitz/datafeeder
	branch = master
[submodule "infra"]
	path = infra
	url = https://github.com/ignitz/infra
	branch = master
[submodule "kafka-stack"]
	path = kafka-stack
	url = https://github.com/ignitz/kafka-stack
	branch = master
[submodule "hudi-processing"]
	path = hudi-processing
	url = https://github.com/ignitz/hudi-processing
